<footer class="footer bg-black p-t-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <h3 class="title">About us</h3>
                <p class="textbox">Mayurika is an Exlusive Shop for....</p>
                <ul class="horizontal-list socials">
                    <li>
                        <a
                            class="fa fa-facebook"
                            href="https://facebook.com/mayurikajpr"
                            data-toggle="tooltip"
                            title="Facebook"></a>
                    </li>

                    <li>
                        <a
                            class="fa fa-twitter"
                            href="#"
                            data-toggle="tooltip"
                            title="Twitter"></a>
                    </li>
                    <li>
                        <a
                            class="fa fa-instagram"
                            href="https://www.instagram.com/hamporio/"
                            data-toggle="tooltip"
                            title="Instagram"></a>
                    </li>
                    <li>
                        <a
                            class="fa fa-google-plus"
                            href="#"
                            data-toggle="tooltip"
                            title="Google plus"></a>
                    </li>

                </ul>
                <img
                    class="footer-logo"
                    src="../../../assets/images/logo.jpg">
            </div>
            <div class="col-md-3 col-sm-4">
                <h3 class="title">Featured Links</h3>
                <ul class="vertical-list block-list">
                    <li>
                        <a href="wedding-hamper.html">Sarees</a>
                    </li>
                    <li>
                        <a href="diwali-hamper.html">Kurtis</a>
                    </li>
                    <li>
                        <a href="corporate-hamper.html">Lenghas</a>
                    </li>
                    <li>
                        <a href="healthy-sweet-thrillers.html">....</a>
                    </li>
                    <li>
                        <a href="return-hamper.html">....</a>
                    </li>

                    <li>
                        <a href="room-hamper.html">....</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3 class="title">Contact us</h3>
                <ul class="vertical-list block-list contacts">
                    <li>
                        <i class="fa fa-phone"></i>
                        <span>(+91) 7737132633</span>
                    </li>
                    <li>
                        <i class="fa fa-send"></i>
                        <span>mayurikajpr@gmail.com</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>
                            Plot No. 2,Radha Govind Marg,
                            <br>
                            Janta Colony,Jaipur- 301984(Raj.)
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <h3 class="title">We’re on instagram</h3>
                <ul class="horizontal-list instarfeeds">
                    <li>
                        <a
                            href="#"
                            target="_blank">
                            <img
                                src="images/b1.jpg"
                                width="100%"
                                height="60"
                                alt="instafeed">
                        </a>
                    </li>
                    <li>
                        <a
                            href="#"
                            target="_blank">
                            <img
                                src="images/b2.jpg"
                                width="100%"
                                height="60"
                                alt="instafeed">
                        </a>
                    </li>
                    <li>
                        <a
                            href="#"
                            target="_blank">
                            <img
                                src="images/b3.jpg"
                                width="100%"
                                height="60"
                                alt="instafeed">
                        </a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
