.col-12 img{
    width: 100%;
    }
    
    .col-sm-3 img{
       width: 100%;
       }
       .section-images-first
       {
           margin:10px 0px 10px 0px;
       }
       
       .padding-image
       {
           padding:5px!important;
       }
       
       .section-images{
          margin-top:50px;
       }
       .carousel {
           position: relative;
           top: 56px;
       }
      