<h2 class = "header">Login Form</h2>
<div class="text-center">
  <form
      class ="form-center"
      [formGroup]="heroForm"
      (submit)="onsubmit(heroForm.value);heroForm.reset()">
      <div>

          <div class ="form-label">
              <label>Username:</label>
              <input
                  type="text"
                  formControlName="username">
          </div>

          <div class="form-label">
              <label floating>Password:</label>
              <input
                  type="password"
                  formControlName="password">
          </div>

      </div>
      <button
          class = "button" 
          ion-button
          color="primary"
          full>
          ADD
      </button>

  </form>
</div>